.topRow {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
}

.col {
  display: flex;
}

.col:first-child .topDiv {
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col .topDiv span {
  margin-left: 5px;
}

.topRow .col:last-child .topDiv {
  display: flex;
  gap: 10px;
}

.middleRow {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  background-color: var(--bg-second-color);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header .col:first-of-type {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .col a img {
  width: 300px;
  object-fit: contain;
}

.header .nav ul {
  display: flex;
  gap: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.header .nav ul li a {
  transition: all 0.4s ease-in-out;
  display: block;
}

.header .nav ul li a:hover {
  transform: scale(1.1) translateY(-2px);
}

.active {
  transform: scale(1.1) translateY(-2px);
}

.col .buttons {
  display: flex;
}

.col .buttons a {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
}

.col .buttons a span {
  margin-left: 0.4rem;
}

@media screen and (max-width: 980px) {
  .middleRow {
    flex-direction: column;
    gap: 1rem;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .col:first-child .topDiv {
    font-size: 15px;
  }

  .topRow {
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .topRow .col:last-child .topDiv {
    gap: 20px;
  }

  .topRow .col:last-child .topDiv a .icons {
    font-size: 19px;
  }

  .header .col a img {
    width: 200px;
  }

  .header .nav ul {
    gap: 8px;
    font-size: 14px;
  }
}
